@import "tailwindcss";

html {
  overflow: hidden;
}

@theme {
  --color-light: #f3f4f6;
  --color-dark: #111827;
}

body {
  color: #f3f4f6;
  background: #111827;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  font-weight: 400;
  letter-spacing: -0.01em;
}